<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="SmtpCorreo" value="utclaboratorio@gmail.com" />
		<add key="SmtpClave" value="vdwvooeihdzkydur" />
		<add key="SistemaNombre" value="SIGEVAP" />
	</appSettings>
	
	<connectionStrings>
		<add name="SIGEVAP_DB"
			 connectionString="Server=DESKTOP-RMGCO8H\MSSQLSERVER,1433;Database=BDSIGEVAP;User Id=sa;Password=copito123;Encrypt=True;TrustServerCertificate=True;Connection Timeout=30;"
			 providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
	
</configuration>